.pie_container {
  flex: 1 1 0px;
  border-radius: 20px;
  background-color: white;
  padding: 15px;
}
.pie_title {
  display: flex;
  justify-content: space-between;
}
.pieFlex {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}
.pieChart {
  height: 110px;
  width: 110px;
}
.pieTile {
  font-size: 14px;
  font-weight: bold;
}
.pieTitle1::before {
  content: "";
  display: inline-block;
  border-radius: 50px;
  height: 10px;
  width: 10px;
  background-color: #98d89e;
  margin-right: 10px;
}
.pieTitle2::before {
  content: "";
  display: inline-block;
  border-radius: 50px;
  height: 10px;
  width: 10px;
  background-color: #f6dc7d;
  margin-right: 10px;
}
.pieTitle3::before {
  content: "";
  display: inline-block;
  border-radius: 50px;
  height: 10px;
  width: 10px;
  background-color: #ee8484;
  margin-right: 10px;
}
.pieValue {
  font-size: 12px;
  font-family: "Lato", sans-serif;
  color: #858585;
}
.pieEle {
  padding: 7px;
}
